@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  background-color: #F6F6F6;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --home-main-color : #CA7430;
  --shop-bg-color : #132b3e;
  --shop-color : #3749bb;
  --shop-hover-color : #2C3A96;
  --text-color : #000;
  --alter-text-color : #2C3A96;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

h4,
button,
p,
a,
ul,
span,
li {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.8rem !important;
  } 

  h2 {
    font-size: 2.2rem !important;
  }

}

