
.bottom-header {
  background-color: #fff;
  width: 100%;
  border-bottom: .1rem solid #ebebeb;
}

.bottom-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  margin: 0rem 7rem;
}



.side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.side-nav div a{
    color: var(--fashion-shop-main-color);
    text-decoration: none;
    padding: 1.5rem 0.5rem 1.5rem 2rem;
    font-family: "Kanit", sans-serif;
    display: inline-block;
}


@media(min-width:1367px){
    .bottom-header-content{
        max-width: 1366px;
        margin: 0rem auto;
    }
}

@media(max-width:990px){
    .bottom-header-content{
        margin: 0rem 2rem;
    }
}

@media(max-width:768px){
    .bottom-header{
        display: none;
    }
}