
#cart-item{
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: rgba(43, 52, 69, 0.3) 0px 4px 16px;
    margin-bottom: 1.5rem;
}

#cart-item img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    flex-shrink: 0; 

    @media (max-width: 768px) {
        width: 10rem;
        height: 10rem;
    }
    @media (max-width: 480px) {
        width: 8rem;
        height: 8rem;
    }
    @media (max-width: 320px) {
        width: 6rem;
        height: 6rem;
    }
}

#cart-item .product-details{
    display: flex;
    width: 100%;
    min-width: 0rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    @media (max-width: 768px) {
        padding: 1.5rem;
    }
    @media (max-width: 480px) {
        padding: 1rem;
    }
    @media (max-width: 320px) {
        padding: 0.8rem;
    }
}

#cart-item .product-details .title{
  text-decoration: none;
  color: rgb(43, 52, 69);
  font-weight: 500;
  font-size: 2rem;
    @media (max-width: 768px) {
        font-size: 1.6rem;
    }

    @media (max-width: 480px) {
        font-size: 1.4rem;
    }

    @media (max-width: 320px) {
        font-size: 1.2rem;
    }
}

#cart-item .product-details .title div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#cart-item .product-details .delete-item{
    cursor: unset;
    box-shadow: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    @media (max-width: 480px) {
        right: 0.5rem;
        top: 0.5rem;
    }
}

#cart-item .product-details .delete-item .delete-item-btn{
    border: none;
    outline: none;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: inherit;
    background-color: transparent;
    transition: 150ms ease-in-out;
    padding: 0.4rem;
    margin-left: 1.2rem;

    @media (max-width: 480px) {
        padding: 0.3rem;
        margin-left: 0.8rem;
    }

    &:hover{
       background-color:  rgb(245, 245, 245);
    }
}

#cart-item .product-details .cart-quantity-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5rem;
    
    @media (max-width: 768px) {
        font-size: 1.4rem;
    }

    
}

.product-details .cart-quantity-price .price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 

.product-details .cart-quantity-price .quantity p{
    margin: 0;
}  