
.mobile-menu-offcanvas{
  background-color: white;
  max-width: 30rem;
}

.mobile-menu-offcanvas .offcanvas-header{
  border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.mobile-menu-offcanvas .offcanvas-header .offcanvas-title{
  font-size: 2rem;
}

.mobile-menu-offcanvas .offcavas-toggle{
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;

}


.mobile-menu-offcanvas .offcanvas-header .btn-close{
  color: #000;
  font-size: 1.4rem;
  color: #000;
  opacity: 1;
  cursor: pointer;
  &:hover{
  color: #000
  }
}



.mobile-menu {
  background-color: white;
  width: 30rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.menu-title {
  font-size: 1.6rem;
  font-weight:600;
  display: flex;
  justify-content: space-between; /* Align text on left and icon on right */
  align-items: center;
  text-decoration: none;
  color: #000;
}

.chevron-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

.submenu {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.submenu-item {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  font-weight:600;
}

.submenu-item a{
  text-decoration: none;
  color: #000;
}