
#accordion{
  user-select: none;
}

.accordion-box{
  margin: 1rem 48.4rem 1rem 6.8rem;
}

.accordion-header {
  background-color: #f8f9fa;
  padding: 1rem;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #e9ecef;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  background-color: #f1f3f5;
  padding: 0 1rem;
}

.accordion-body.open {
  max-height: 22rem; 
  opacity: 1;
  padding: 1rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

 .d-flex p{
  margin: 0rem 1rem;
}

#accordion .card-payment-input input{
  margin: 0.5rem;
  width: 30rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.3rem;
}

@media (min-width:1367px) {
  #accordion{
    max-width: 1366px;
    margin: 0 auto;
  }
  .accordion-box{
    margin: 1rem 42rem 1rem 0rem;
  }
}

@media (max-width: 990px) {
  #accordion{
    width: 100%;
    user-select: none;
  }

  .accordion-box{
    margin: 1rem 2rem;

  }
}
