
.topheader {
  width: 100%;
  background-color: var(--shop-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topheader-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin: 0rem 7rem;
}

/*left part start*/

.topheader-left {
  display: flex;
}

.topheader-left div {
  padding-right: 1.6rem;
}

.topheader-left div span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}

.topheader-left div svg{
  color: #fff;
}

.topheader-contact-item {
  display: flex;
  align-items: center;
}

.topheader-icon {
  font-size: 1.8rem;
}

/*left part end*/

/* right part start*/

.topheader-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topheader-right a {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

.topheader-right a:first-child {
  padding-right: 1.6rem;
}

/* right part end*/

/*responsive logo start*/

.responsive-logo {
  display: none;
}

.responsive-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  top: -0.6rem;
  height: 46px;
  position: relative;
}

.responsive-logo a::after {
  content: ".";
  font-size: 3rem;
  color: var(--home-main-color);
  position: relative;
}

/*responsive logo end*/

/*responcive part start*/

@media (max-width: 990px) {
  .topheader-content {
    margin: 0rem 2rem;
  }
}
@media (max-width: 768px) {
  .topheader-left {
    display: none;
  }

  .responsive-logo {
    display: flex;
  }
}

@media (min-width: 1367px) {
  .topheader-content {
    max-width: 1366px;
    margin: 0px auto;
  }
}
