
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.topheader {
  width: 100%;
  background-color: var(--shop-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.topheader-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin: 0rem 7rem;
}

/*left part start*/

.topheader-left {
  display: flex;
}

.topheader-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.6rem;
}

.topheader-left div p{
  margin-bottom: 0px;
  font-weight: 500;
}

.topheader-left div span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}

.topheader-left div svg{
  color: #fff;
}

.topheader-icon {
  font-size: 1.8rem;
  margin-right: 0.3rem;
}

/*left part end*/

/* right part start*/

.topheader-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topheader-right .topheader-contact-item {
  padding: 0rem 0rem 0rem 1rem;
}

.topheader-right .topheader-contact-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

/* .topheader-right a:first-child {
  padding-right: 1.6rem;
} */

/* right part end*/

/*responsive logo start*/

.responsive-logo {
  display: none;
}

.responsive-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1ch;
}


/*responsive logo end*/

/*responcive part start*/

@media (max-width: 990px) {
  .topheader-content {
    margin: 0rem 1rem;
  }
}
@media (max-width: 768px) {
  .topheader-left {
    display: none;
  }

  .topheader-right .topheader-contact-item a span{
    font-size: 1.4rem;
  }

  .responsive-logo {
    display: flex;
  }
}

@media (min-width: 1367px) {
  .topheader-content {
    max-width: 1366px;
    margin: 0px auto;
  }
}
