
.cart-page{
  width : 100%;
  background-color: #fff;
}

.cart-page-inner{
  display: flex;
  flex-wrap: wrap;
  height: unset;
  margin: 2rem 6.5rem;
}

#cart-content{
  flex: 1;
}


@media(min-width:1367px){
  .cart-page{
    max-width: 1366px;
    margin: 0 auto;
  }

  .cart-page-inner{
    margin: 2rem auto;
  }

}

@media (max-width:990px) {
  .cart-page-inner{
    margin: 1rem 1.5rem;
  }
}

@media (max-width:582px) {
   .cart-page-inner{
    display: block;
   } 
 }

