
.middle_header{
    padding: 1.7rem 0rem;
    width: 100%;
}

.middle_header_content{
    display: flex;
    flex-direction: row;
    height:4.2rem;
    margin: 0rem 7rem;

    
}


.middle_header_logo{
    flex: 20%;
}

.middle_header_logo a{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
    font-size: 3rem;
    color: #000;
    position: relative;
    top: -14px;

}

.middle_header_logo a::after{
    content: ".";
    font-size: 4rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: var(--home-main-color);
}

.middle_header_search_wrapper{
    flex: 55%;
    position: relative;
}

.middle_header_search_wrapper input{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(218, 225, 231);
    border-radius: 30rem;
    text-indent: 30px;
    padding: 15px;
    font-size: 1.4rem;

    &:focus{
        border: 1px solid rgba(0, 0, 0, 0.8);
        outline: none;
    }
    
}

.middle_header_search_wrapper button{
  all: unset;
  position: absolute;
  width: 25px;
  height:25px;
  left: 15px;
  top: 7px;
  
}

.middle_header_search_wrapper button svg{
    width: 18px;
    height: 18px;
}

.search_categories{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    right: 15px;
    top: 0px;
    border-left: 1px solid rgb(218, 225, 231);
}

.search_categories p{
    margin: 0;
    padding: 0rem 1rem;
}

.middle_header_icons{
    flex: 25%;
    top: 7px;
    right: 5px;
}

.middle_header_icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middle_header_icons a{
    width:45px;
    height:45px;
    background-color: #F3F5F9;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.middle_header_icons a div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height: 25px;
}


@media(max-width:990px){
    .middle_header_content{
        margin: 0rem 2rem;
    }

    .middle_header_logo{
        flex: 10%;
    }

    .middle_header_search_wrapper{
        flex: 65%;
    }

    .middle_header_icons{
        flex: 20%;
    }
}

@media(max-width:768px){
    .middle_header_icons{
        display: none;
    }

    .middle_header_logo{
        display: none;
    }

}

@media(min-width:1400px){
   .middle_header_content{
     max-width: 1300px;
     margin: 0px auto;
   } 
}