.side-menu {
  position: relative;
  top: 22rem;
}

.dropdown-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fashion-shop-main-color);
  padding: 0rem 1.6rem;
  width: 26rem;
  height: 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-toggler p {
  display: flex;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #fff;
}

.dropdown-toggle-menu {
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}

.dropdown-close-menu {
  font-size: 1.9rem;
  color: rgb(255, 255, 255);
}

.dropdown-toggler p span {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.dropdown-toggler span svg {
  color: #fff;
  font-size: 1.5rem;
}

.menubar-none {
  opacity: 0;
  z-index: -1;
  max-width: 26rem;
  background-color: #ffffff;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
  position: relative;
  left: 0rem;
  top: 1rem;
  transition: opacity 0.2s ease-in;
}

.menubar-block {
  opacity: 1;
  z-index: 10;
  max-width: 26rem;
  background-color: #ffffff;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
  position: relative;
  left: 0rem;
  top: 1rem;
  transition: opacity 0.2s ease-in;
}

.menubar-wrapper li {
  display: flex;
  list-style-type: none;
  padding: 0.8rem 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  max-height: 4rem;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
}

.menubar-wrapper li p {
  text-decoration: none;
  color: var(--fashion-shop-main-color);
  font-weight: 400;
  font-style: normal;
  font-family: "Kanit", sans-serif;
  margin: 0;
  width: 100%;
  margin: 0.1rem 0rem 0rem 0.8rem;
}

.menubar-wrapper li ul li a {
  width: 100%;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: var(--fashion-shop-main-color);
}

.menubar-wrapper li ul.dropmenu {
  display: block;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  margin: 0;
  top: 0px;
  left: 100%;
  opacity: 0;
  width: 0px;
  height: 0px;
  max-height: 0px;
  z-index: 999;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
}

.menubar-wrapper li:hover > ul.dropmenu {
  visibility: visible;
  width: 250px;
  height: auto;
  max-height: 300px;
  padding-left: 4px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.655, 0.05, 0.315, 0.955);
}

