

#user-dashboard {
    width: 100%;

}


#user-dashboard .user-dashboard-inner {
    margin: 2rem 6.8rem;
}

#user-dashboard .user-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color:#FEFEFE;
    box-shadow: rgba(43, 52, 69, 0.3) 0px 4px 16px;
}

#user-dashboard .left{
  display: flex;
  flex-direction: row;

}

#user-dashboard .left img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

#user-dashboard .name{
    margin: 1rem 1rem 0rem 1rem;
}
#user-dashboard .name p{
    margin: 0;
}

#user-dashboard .name p:last-child{
    font-size: 2rem;
}

#user-dashboard .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-dashboard .right button{
    padding: 0.8rem 2rem;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--shop-bg-color);
    font-weight: 500;
}

#user-dashboard .user-menus{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    min-width: 5rem;
    margin: 5rem auto;
}

#user-dashboard .user-menus div{
    flex: 0 0 25%;
    display: flex;
    padding: 0 5px 10px;

}

#user-dashboard .user-menus div a{
    flex: 1 1 auto;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 40px 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .05);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#user-dashboard .user-menus div a span:first-child svg{
    color: var(--shop-color);
    font-size: 1.8rem;
}

#user-dashboard .user-menus div a span:last-child {
  text-transform: uppercase;
  color: black;
}

@media (min-width : 1367px) {
     #user-dashboard .user-dashboard-inner{
        max-width : 1366px;
        margin: 0 auto;
     }
}

@media (max-width:768px){
    #user-dashboard .user-menus div{
        flex: 0 0 50%;
    }
}

@media (max-width:990px) {
    #user-dashboard .user-dashboard-inner {
        margin: 0rem 0.4rem;
    }
}

