

.demo-template {
  display: inline-flex;
  max-width: 90% !important;
  min-width: 30%;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (min-width: 1367px) {
    justify-content: space-between;
  }
}

/* .demo-template p {

} */

.demo-box {
  display: flex;
  flex-direction: column;
  margin: 25px 5px;
  text-decoration: none;
  align-items: center;
}

.demo-box img {
  width: 300px;
  height: auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    width: 250px;
  }
}

.demo-box img:hover {
  transform: translateY(-20px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.demo-button {
  border: none;
  background: none;
  color: var(--home-main-color);
  position: relative;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  margin-top: 10px;
  width: fit-content;
  text-align: center;
}

.demo-button p{
  text-transform: capitalize;
  font-weight: bold;  
  margin: 0;
  position: relative;
  font-size: 20px;
  color: #111;
}

.demo-button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--home-main-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.demo-box:hover .demo-button::after {
  width: 100%;
}

.demo-box:hover .demo-button p {
  color: var(--home-main-color);
}
